@model IEnumerable<SSTM.Models.CourseDocument.CourseDocumentsListModel>

@{
    var currentSession = (SSTM.Helpers.App.AppSession)Session["AppSession"];
}

<div class="modal-header">
    <h4 id="h4CourseDocsSharingModal" class="modal-title">Share Course Documents</h4>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12 form-group table-responsive">
            <table id="tblCourseDocsSharing" class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Documents Name</th>
                        <th class="text-center" style="width:140px;">Status</th>
                        <th class="text-center" style="width:100px;">
                            <div class="icheck-success d-inline">
                                <input type="checkbox" id="chkAllTraining">
                                <label for="chkAllTraining">Training</label>
                            </div>
                        </th>
                        <th class="text-center" style="width:100px;">
                            <div class="icheck-success d-inline">
                                <input type="checkbox" id="chkAllPrint">
                                <label for="chkAllPrint">Print</label>
                            </div>
                        </th>
                        <th class="text-center" style="width:100px;">
                            <div class="icheck-success d-inline">
                                <input type="checkbox" id="chkAllDeveloper">
                                <label for="chkAllDeveloper">Developer</label>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr id="@item.Id" course="@item.CourseId">
                                <td>
                                    <div class="icheck-success d-inline">
                                        <input type="checkbox" id="chkfilereplace-@item.Id" class="chkfilereplace ml-1">
                                        <label for="chkfilereplace-@item.Id"></label>
                                    </div>
                                    <strong>
                                        <a href="javascript:void(0);" class="documentname" onclick="ViewCourseDoc(this, 'Course');">
                                            @item.DocName
                                        </a>
                                    </strong>
                                </td>

                                <td class="text-center">
                                    @if (item.isDeleted)
                                    {
                                        <label class="badge badge-secondary">Skipped</label>
                                    }
                                    else if (item.isReassigned)
                                    {
                                        <label class="badge badge-warning">Reassign</label>
                                    }
                                    else if (item.isApproved)
                                    {
                                        <label class="badge badge-success">Approved</label>
                                    }
                                    else if (item.isCompleted)
                                    {
                                        <label class="badge badge-info">Complete</label>
                                    }
                                    else
                                    {
                                        <label class="badge badge-danger">Incomplete</label>
                                    }
                                </td>

                                <td class="text-center">
                                    <div class="icheck-success d-inline">
                                        <input type="checkbox" id="chkChildTraining-@item.Id" class="chkChildTraining" checked="@item.isTraining" onchange="SetCheckBoxStatus(this);">
                                        <label for="chkChildTraining-@item.Id"></label>
                                    </div>
                                </td>

                                <td class="text-center">
                                    <div class="icheck-success d-inline">
                                        <input type="checkbox" id="chkChildPrint-@item.Id" class="chkChildPrint" checked="@item.isPrinting" onchange="SetCheckBoxStatus(this);">
                                        <label for="chkChildPrint-@item.Id"></label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="icheck-success d-inline">
                                        <input type="checkbox" id="chkChildDeveloper-@item.Id" class="chkChildDeveloper" checked="@item.isDeveloper" onchange="SetCheckBoxStatus(this);">
                                        <label for="chkChildDeveloper-@item.Id"></label>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center no-data">No documents found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer" style="display:block;">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    <div class="float-right">
        <button type="button" class="btn btn-primary" onclick="RelaceDocument();">
            Replace
        </button>
        <button type="button" class="btn btn-success" onclick="ShareCourse();">
            Course Sharing
        </button>

    </div>
</div>


<div class="modal fade" id="DocumentReplace" style="display: none;" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="h4CourseDocsSharingModal" class="modal-title"><span id="docname"></span> Documents Replace </h4>
                <button type="button" class="close" aria-label="Close" onclick="docReplaceClose()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 form-group table-responsive">

                        <input type="file" id="replacefile" class="form-control" onchange="ValidateSingleInput(this);" />
                        <input type="hidden" id="DocId" />
                        <input type="hidden" id="CourseId" />
                        <button type="button" class="btn btn-primary mt-3" onclick="submitdocument();">
                            Submit
                        </button>
                        <button type="button" class="btn btn-danger mt-3" onclick="docReplaceClose()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    var loadCourseDocumentUrl = '@Url.Action("LoadCourseDocument", "CourseDoc")';
    var courseDocViewerUrl = '@Url.Action("CourseDocViewer", "CourseDoc")';

    var shareCourseUrl = '@Url.Action("ShareCourse", "Course")';
    var saveCourseDocumentUrls = '@Url.Action("SaveCourseDocument","CourseDoc")';

    function RelaceDocument() {
        if ($('#tblCourseDocsSharing > tbody > tr').find('.chkChildTraining:checked').length == 0) {
            toastr.error('Please select at least one or more documents for Training.');
            return false;
        }
        if (ISCheckboxChecked() == false) {
            return false;
        }
        var sharingObject = new Array();
        var docid = 0, CourseId = 0, docname = '';
        $('#tblCourseDocsSharing > tbody > tr').each(function () {
            var row = $(this);
            if (row.find('.chkfilereplace').is(':checked')) {
                $("#DocId").val(row.attr('id'));
                $("#CourseId").val(row.attr('course'));
                $("#docname").text(row.find('.documentname').html())
            }
        });

        $("#DocumentReplace").modal('show');

    }
</script>

<script src="~/Scripts/courseDoc/_courseDocsSharing.js"></script>
    





