@{
    ViewBag.Title = "Risk Assessment & Safe Work Procedure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<link href="@Url.Content("~/Content/intopage_custom.css")" rel="stylesheet" />
<style>
    body {
        background-color: #eeecec !important
    }

    .select2-selection__rendered {
        line-height: 33px !important;
        margin-top: -7px !important
    }

    .select2-container .select2-selection--single {
        height: 33px !important;
    }

    .select2-selection__arrow {
        height: 33px !important;
    }

    hr.double_border_style {
        border-top: 4px double black;
    }

        hr.double_border_style:after {
            content: '';
            display: inline-block;
            position: relative;
            top: -15px;
            left: 40px;
            padding: 0 10px;
            background: #f0f0f0;
            color: #8c8b8b;
            font-size: 18px;
        }

    .is-invalid + .select2-container--default .select2-selection--single {
        border: 1px solid #f44336;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 2rem center;
        background-size: calc(3 em + 0.375 rem ) calc(3em + 0.375 rem );
    }

    .chart-gauge {
        width: 400px;
        margin: 10px auto;
    }


    .chart-color4 {
        fill: #28a745;
    }

    .chart-color3 {
        fill: #ffc107;
    }

    .chart-color2 {
        fill: #fd7e14;
    }

    .chart-color1 {
        fill: #e92213;
    }

    .needle,
    .needle-center {
        fill: black;
    }

    .prose {
        text-align: center;
        font-family: sans-serif;
        color: #ababab;
    }

    .checked {
        color: orange;
    }

    body {
        background: rgba(0,0,0,0.6);
    }
    /*.lds-dual-ring.hidden {
            display: none;
        }

        .lds-dual-ring {
            display: inline-block;
            width: 80px;
            height: 80px;
        }
            .lds-dual-ring:after {
                content: " ";
                display: block;
                width: 64px;
                height: 64px;
                margin: 20% auto;
                border-radius: 50%;
                border: 6px solid #fff;
                border-color: #fff transparent #fff transparent;
                animation: lds-dual-ring 1.2s linear infinite;
            }

        @@keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }


        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0,0,0,.8);
            z-index: 999;
            opacity: 1;
            transition: all 0.5s;
        }*/
</style>

<div id="loader" class="lds-dual-ring hidden overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Theme/images/eversafe-logo-.png" width="150" height="50" />
        </div>
    </div>
</div>

<div class="container-fluid py-3" id="qs__section_display">
    <div class="form-row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-outline card-success">
                    <div class="card-header bg-white">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="font-weight-bolder">Risk Assessment & Safe Work Procedure</span>
                            </div>                            
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary btnopen" data-toggle="modal" data-target="#exampleModal" style="float: right;">
                                    <i class="fa-solid fa-person-walking-arrow-right"></i>&nbsp;Open Declaration Form
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row form-group">
                            <div class="col-md-5">
                                <label class="col-form-label-sm">Choose Course</label>
                                <select class="form-control select2" data-width="100%" id="courseList" onchange="if (this.value !== 0) $(this).removeClass('is-invalid')"></select>
                                <div class="invalid-feedback col-form-label-sm">Course is Required.</div>
                            </div>
                            <div class="col-md-2">
                                <label class="col-form-label-sm">Choose Batch</label>
                                <select class="form-control select2" data-width="100%" id="batchList" onchange="if (this.value !== 0) $(this).removeClass('is-invalid')"></select>
                                <div class="invalid-feedback col-form-label-sm">Batch is Required.</div>
                            </div>
                            <div class="col-md-4" style="margin-top:40px;">
                                <button id="btnViewDocs" type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-files-o"></i>&nbsp;View Documents
                                </button>
                            </div>
                            @*<div class="col-md-4" style="margin-top:40px;">
                                <button id="btnReset" type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-ban"></i>&nbsp;Reset Popup Notification
                                </button>
                            </div>*@
                        </div>
                        <div class="col-md-12 card-footer bg-light">
                            <div class="form-row">
                                <div class="container col-md-12">
                                    <table class="table table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Sl.No.</th>
                                                <th scope="col">Photo</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Course</th>
                                                <th scope="col">Batch</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Submitted On</th>
                                            </tr>
                                        </thead>
                                        <tbody id="submission_details"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                     

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">RA & SWP Trainer Declaration Form</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card-body">
                                            <div class="form-row form-group">
                                                <div class="col-md-12">
                                                    <label class="col-form-label-sm">Choose Course:</label>
                                                    <select class="form-control select2" data-width="100%" id="courseListModal" onchange="if (this.value !== 0) $(this).removeClass('is-invalid')"></select>
                                                    <div class="invalid-feedback col-form-label-sm">Course is Required.</div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <label class="col-form-label-sm">Choose Batch:</label>
                                                    <select class="form-control select2" data-width="100%" id="batchListModal" onchange="if (this.value !== 0) $(this).removeClass('is-invalid')"></select>
                                                    <div class="invalid-feedback col-form-label-sm">Batch is Required.</div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <label class="col-form-label-sm">Declaration:</label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="chkDeclaration" checked>
                                                        <label class="custom-control-label" for="chkDeclaration">Here I declare that I have briefed the Risk Assessment and Safe Work Procedure to the students.</label>
                                                    </div>
                                                    @*<label class="col-form-label-sm">I hereby declare that I have briefed the Risk Assessment and Safer Procedure to the students.</label>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="btnSubmit" type="button" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewCourseDocsModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div id="divViewCourseDocsModal" class="modal-content">
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {


        //$('.toast').hide();

        $.ajax({
            url: "@Url.Action("GetAllCourse", "Intro",null)",
            method: "Get",
            dataType: "json",
            beforeSend: (() => { $(".loadingDiv").show(); }),
            success: ((data) => {
                let k = JSON.parse(data.Result);
                $('#courseList').empty().append($('<option/>').val(0).html('Select'))
                $.map(k, function (v, i) {
                    $('#courseList').append($('<option></option>').val(v.CourseId).html(v.CourseName));
                });

                $('#courseList').prop('selectedIndex', 1);

                $('#courseListModal').empty().append($('<option/>').val(0).html('Select'))
                $.map(k, function (v, i) {
                    $('#courseListModal').append($('<option></option>').val(v.CourseId).html(v.CourseName));
                });

                $('#courseListModal').prop('selectedIndex', 1);

                var reqType = '@ViewBag.RequestType';

                if (reqType == 'report') {
                    $('.btnopen').hide();
                }

                if (data.Batchs != null && data.Batchs.length > 0) {

                    $('#batchList').empty().append($('<option/>').val(0).html('Select'))
                    $.map(data.Batchs, function (v, j) {
                        $('#batchList').append($('<option></option>').val(v.BatchId).html(v.BatchId));
                    });

                    $('#batchList').prop('selectedIndex', 1);

                    $('#batchListModal').empty().append($('<option/>').val(0).html('Select'))
                    $.map(data.Batchs, function (v, j) {
                        $('#batchListModal').append($('<option></option>').val(v.BatchId).html(v.BatchId));
                    });

                    $('#batchListModal').prop('selectedIndex', 1);

                    view();
                }
                else {

                    if (reqType == 'report') {
                        $.ajax({
                            url: "@Url.Action("GetBatchIdsFromRA", "Intro")",
                            method: "Get",
                            dataType: "json",
                            beforeSend: (() => { $(".loadingDiv").show(); }),
                            success: ((data) => {
                                if (data.Result.length > 0) {
                                    $('#batchList').empty().append($('<option/>').val(0).html('Select'))

                                    $(data.Result).map((i, v) => {
                                        $('#batchList').append($('<option></option>').val(v.BatchId).html(v.BatchId));                                        
                                    });
                                }
                            }),
                            error: ((err) => {
                                toastr.error('Something went wrong! Please refresh the page and try again.');
                                console.warn(err);
                            })
                        });

                        $('.thead-dark').hide();
                        $('#submission_details').empty().append('<tr>' +
                            '<td colspan="7" scope="row" class="col-sm-12"><b><u>No records found.</u></b></td></tr>');

                    }
                    else {

                        $('#batchList').empty().append($('<option/>').val(0).html('Select'))
                        $('#batchList').prop('selectedIndex', 0);

                        $('#batchListModal').empty().append($('<option/>').val(0).html('Select'))
                        $('#batchListModal').prop('selectedIndex', 0);
                    }
                }
            }),
            error: ((err) => {
                toastr.error('Something went wrong! Please refresh the page and try again.');
                console.warn(err);
            })
        });

        function view() {
            let courseId = Number($('#courseList').val());
            let batchId = Number($('#batchList').val());

            if (courseId == 0 || batchId == 0) {
                toastr.error('Please select course and batch.');
                return;
            }

            var reqType = '@ViewBag.RequestType';

            $.ajax({
                url: "@Url.Action("GetRiskAssessmentDeclaration", "Intro")?courseId=" + courseId + '&batchId=' + batchId + '&filter=' + reqType,
                method: "Get",
                dataType: "json",
                beforeSend: (() => { $(".loadingDiv").show(); }),
                success: ((data) => {
                    var j = 0;
                    $('#submission_details').empty();

                    if (data.Result.length > 0) {
                        $('.thead-dark').show();
                        var courseName = $("#courseList option:selected").text();

                        $(data.Result).map((i, v) => {

                            if (v.CourseName == "") {
                                v.CourseName = courseName;
                            }

                            $('#submission_details').append('<tr>' +
                                '<td scope="row" class="col-sm-1">' +
                                '    ' + ++j +
                                ' </td>' +
                                '<td scope="row" class="col-sm-1"><img class="h-75px" onerror=\'this.src = "../Theme/images/noimage.png"\' src=' + v.Image + '></td>' +
                                ' <td class="col-sm-3">' + v.Name + '</td > ' +
                                ' <td class="col-sm-4">' + v.CourseName + '</td>' +
                                ' <td class="col-sm-1">' + v.BatchId + '</td>' +
                                ' <td class="col-sm-1">' + v.Type + '</td>' +
                                ' <td class="col-sm-1">' + v.CreatedOnString + '</td>' +
                                '</tr>');
                        });
                    }
                    else {                        

                        //if (reqType != 'report') {
                        //    $(".modal").modal('toggle');                            
                        //}

                        $('.thead-dark').hide();
                        $('#submission_details').empty().append('<tr>' +
                                            '<td colspan="7" scope="row" class="col-sm-12"><b><u>No records found.</u></b></td></tr>');

                    }
                }),
                error: ((err) => {
                    toastr.error('Something went wrong! Please refresh the page and try again.');
                    console.warn(err);
                })
            });
        }

        //$("#btnView").on('click', function () {
        //    view();
        //});

        var viewCourseDocsUrl = '@Url.Action("ViewTodayCourseRASWPDocs", "CourseDoc")';

        $("#btnViewDocs").on('click', function () {
            var courseId = Number($('#courseList').val());
            //var courseName = $(this).closest('tr').find('td:eq(0)').html();

            Ajaxhelper.post(viewCourseDocsUrl, { airlineCourseId: courseId }, onSuccessViewCourseDocs, null, null);

            function onSuccessViewCourseDocs(data) {
                $('#divViewCourseDocsModal').html(data);

                //$('#h4CourseDocsModal').html(courseName + " Douments");

                $('#ViewCourseDocsModal').modal('show');
            }
        });



        $("#btnReset").on('click', function () {
            if (localStorage.getItem("raswp") !== null) {                

                localStorage.setItem('raswp', '0');
                //$('.toast').toast('hide');
            }
        });

        //$(".btnopen").on('click', function () {
        //    $(".exampleModal").modal('toggle');

            

        //});

        $('#batchList').change(function () {
            view();
        });



        $('#courseList').change(function () {
            let courseId = Number($('#courseList').val());           

            if (courseId == 0) {
                toastr.error('Please select course.');
                return;
            }

            var reqType = '@ViewBag.RequestType';

            if (reqType == 'report') {
                return;
            }

            $.ajax({
                url: "@Url.Action("GetBatchesBasedOnCourseId", "Intro")?courseId=" + courseId,
                method: "Get",
                dataType: "json",
                beforeSend: (() => { $(".loadingDiv").show(); }),
                success: ((data) => {

                    if (data.Batchs != null && data.Batchs.length > 0) {

                        $('#batchList').empty().append($('<option/>').val(0).html('Select'))
                        $.map(data.Batchs, function (v, j) {
                            $('#batchList').append($('<option></option>').val(v.BatchId).html(v.BatchId));
                        });

                        $('#batchList').prop('selectedIndex', 1);
                       
                    }
                    else {
                        $('#batchList').empty().append($('<option/>').val(0).html('Select'))
                        $('#batchList').prop('selectedIndex', 0);
                    }
                }),
                error: ((err) => {
                    toastr.error('Something went wrong! Please refresh the page and try again.');
                    console.warn(err);
                })
            });
        });

        $('#courseListModal').change(function () {
            let courseId = Number($('#courseListModal').val());           

            if (courseId == 0) {
                toastr.error('Please select course.');
                return;
            }

            $.ajax({
                url: "@Url.Action("GetBatchesBasedOnCourseId", "Intro")?courseId=" + courseId,
                method: "Get",
                dataType: "json",
                beforeSend: (() => { $(".loadingDiv").show(); }),
                success: ((data) => {

                    if (data.Batchs != null && data.Batchs.length > 0) {

                        $('#batchListModal').empty().append($('<option/>').val(0).html('Select'))
                        $.map(data.Batchs, function (v, j) {
                            $('#batchListModal').append($('<option></option>').val(v.BatchId).html(v.BatchId));
                        });

                        $('#batchListModal').prop('selectedIndex', 1);
                       
                    }
                    else {
                        $('#batchListModal').empty().append($('<option/>').val(0).html('Select'))
                        $('#batchListModal').prop('selectedIndex', 0);
                    }
                }),
                error: ((err) => {
                    toastr.error('Something went wrong! Please refresh the page and try again.');
                    console.warn(err);
                })
            });
        });


        $("#btnSubmit").on('click', function () {

            let courseId = Number($('#courseListModal').val());
            let batchId = Number($('#batchListModal').val());
            let declaration = $("#chkDeclaration")[0];

            if (courseId == 0 || batchId == 0) {
                toastr.error('Please select course and batch.');
                return;
            }

            if (!declaration.checked) {
                toastr.error('Please check Declaration box.');
                return;
            }

            $.ajax({
                url: "@Url.Action("SaveRiskAssessmentDeclaration", "Intro",null)",
                type: "POST",
                data: { courseId: courseId, batchId: batchId },
                success: function (data) {
                    if (data == 'success') {
                        toastr.success('Your declaration saved successfully. Sending declaration link to Students. Please wait..');
                        $.ajax("@Url.Action("SendRANotification", "Intro")?courseId=" + courseId + '&batchId=' + batchId + '&windowLocation= ' + window.location.origin
                        ).then(function (data0) {

                            toastr.success('RA and SWP Declaration link sent to all the students through SMS. Please ask them to submit the same.');

                            $(".modal").modal('toggle');

                            

                            if (localStorage.getItem("raswp") !== null) {
                                localStorage.setItem('raswp', "0");                                
                            }
                            //view();

                            window.location.reload();

                            //$('#ViewCourseDocsModal').modal('hide')
                           
                        });
                    }
                    else if (data == 'exists')
                    {
                        toastr.error('RA and SWP form has already been submitted for the select course and batch.');
                    }
                    else
                        toastr.error('Something went wrong while saving your declaration. Please refresh the page and try again.');
                },

                error: function (err) {
                    toastr.error(err.statusText + ". Please refresh the page and try again or contact our site administrator.");
                }
            }).done(function () {

            });
        });


        $(function () {
            var chat = $.connection.webSocketHub;
            $.connection.hub.logging = true;
            chat.client.SendPushNotifyToClient = function (name, v) {
                name = JSON.parse(name);
                if (name.Notify == 'rasp') {
                    v = JSON.parse(v);
                    if (v.TrainerId == name.TrainerId)
                        view();
                }
            };
            chat.client.SstmClientConnection = function (name, connectionId) {
                //console.log(name + " : " + connectionId);
            };
            $.connection.hub.start().done(function (dt) {
                chat.server.onConnect();
            });
        });

    });



</script>

